.AvailableCards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.AvailableCoins {
  display: flex;
  justify-content: space-evenly;
}

.coinStack {
  font-size: 40px;
}

.PlayerArea {
  background-color: rgb(34, 235, 34);
}

.PlayerCoins {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
}
